@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body{
    font-size: 100%;
    background: #116CFF;
}
section {
    height: 100vh;
}
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}
.cabecalho-logo{
    height: 100%;
}
.cabecalho-menu{
    display: flex;
    gap: 72px;

}
.menu-item{
    font-family: 'Inter', sans-serif;
    color: #FFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.corpo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.texto-do-corpo{
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.titulo-texto{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 160%;
    /* or 80px */
    color: #FFFFFF;
}
.paragrafo-texto{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    /* or 32px */
    color: #FFFFFF;
}
.botoes{
    flex-direction: row;
}
.botao-da-nav{
    width: 104px;
    height: 39px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    border: none;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #116CFF;
}
.botao1{
    background-color: #FFFFFF;
    width: 200px;
    height: 52px;
    border: none;
    border-radius: 10px;
    margin-right: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #116CFF;
}
.botao2{
    background-color: #116CFF;
    width: 200px;
    height: 52px;
    left: 324px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #FFFFFF;
}
.tela02{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.titulo-tela02{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    /* or 125% */
    color: #00235C;
}
.paragrafo-texto02{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    /* or 250% */
    color: #00235C;
}
.tela03{
    margin: 50px;
    background-color: #116CFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.titulo-tela03{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    /* or 125% */
    color: #FFFFFF;
}
.paragrafo-texto03{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    /* or 250% */
    color: #FFFFFF;
}
.tela04{
    background:url("kingdom.png") no-repeat right top;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.titulo-tela04{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    /* identical to box height, or 139% */


    color: #116CFF;
}
.nome-pessoa{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.015em;

    color: #00235C;
}
.depoi-pessoa{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #00235C;
}
.baloes{
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}
.baloes-esquerda {
    display: flex;
    flex-direction: column;
    /*margin-right: 50px;*/
}
.baloes-direita {
    margin-top: 50px;
    display: flex;
    flex-direction: column;

}
.baloes{
    display: flex;
    flex-direction: row;
}
.avatar-crianca{
    width: 65px;
    height: 64.1px;
    margin: 30px;
}

.testimonybox1{
    background-color: #E7F0FF;
    border-radius: 10px;
    padding: 20px;
    width: 440px;
    height: 187px;
    position: relative;
    margin: 35px auto;
}
.seta{
    position: absolute;
    width: 30px;
    height: 30px;
    left: -5px;
    top: 36px;
    background-color: #E7F0FF;
    transform: matrix(-0.87, -0.5, -0.5, 0.87, 0, 0);
}
.tela05{
    background-color: #116CFF;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.titulo-tela05{
    margin: 80px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    /* identical to box height, or 139% */
    color: #FFFFFF;
}
table{
    border: 0.5px solid #116CFF;
    border-collapse: collapse;
    border-radius: 10px 10px 0px 0px;
    width: 1266px;
    height: 474px;

}
tr{

    border-bottom: 1px solid #116CFF;
}

.coluna1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */

    text-align: center;
    border-radius: 10px 0px 0px 0px;
    color: #00235C;
}
.coluna02{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 0px;
    /* identical to box height, or 156% */


    color: #00235C;
}
.th-direita{

    border-radius: 0px 10px 0px 0px;

}
thead{
    background-color: #E7F0FF;
    width: 1166px;
    height: 115px;
    border-radius: 10px 10px 0px 0px;
}
.estrela1{
    flex-direction: row;
}
tbody{
    background-color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */


    color: #116CFF;
}
.td4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */

    text-align: right;

    color: #00235C;
}
td{
    margin: 20px;
}
.free{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */

    text-align: right;

    color: #FF463A;
}
.tela06{
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    background: #FFFFFF;
    align-items: center;
    gap: 150px;
}
.head-formulario{
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.titulo-form{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    /* or 139% */
    margin-top: 20px;
    text-align: center;

    color: #00235C;
}
form{
    display: flex;
    justify-content: center;
    width: 546px;
    height: 309px;

}
label{
    display: flex;
    justify-content: center;
    margin-bottom: 0.2em;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    /* identical to box height, or 156% */

    text-align: center;

    color: #00235C;
}
fieldset{
    border: 0;

}
input{
    align-items: center;
    width: 394px;
    height: 52px;
    left: 562px;
    top: 180px;

    border: 1px solid #BCD6FF;
    box-sizing: border-box;
    border-radius: 10px;

}
.campo{
    margin-bottom: 2em;
}
.campo-botao{
    justify-items: left;
}
.botao-form{
    background-color: #116CFF;
    width: 200px;
    height: 52px;
    border: none;
    border-radius: 10px;
    /*margin-left: 50px;*/
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;


    color: #FFFFFF;
}

.rodape{
    background-color: #00235C;
    display: flex;
}
.navs{
    margin: 100px;
    gap: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;


}
.menu-footer1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height, or 98% */

    letter-spacing: 0.02em;
    margin: 30px 0px;
    color: #116CFF;
}
.menu-footer{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 110% */
    margin: 30px;
    letter-spacing: 0.02em;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 30px 0px;
}
@media screen and (max-width: 1200px){
    .cabecalho-logo{
        width: 100px;
    }
    .cabecalho-menu{
        flex-direction: column;
        height: 100%;
        gap: 10px;
    }
    section {
        flex-direction: column;
        height: 100%;
    }

    img {
        width: 500px;
    }
    .texto-do-corpo{
        width: 498px;
        text-align: center;
    }
    .texto-do-corpo h1{
        width: 483px;
        height: 180px;
        margin-top: 0px;
    }
    .texto-do-corpo p{
        width: 483px;
        height: 218px;
        margin-top: 20px;
    }
    .corpo-principal{
        flex-direction: column-reverse;
    }
    .tela02{
        flex-direction: column;
    }
    .tela03{
        flex-direction: column-reverse;
    }
    .tela04{
        flex-direction: column;
    }
    .rodape{
        flex-direction: column;
    }
    .navs{
        flex-direction: column;
        gap: 10px;
    }
}