@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body{
    font-size: 100%;
    background: #116CFF;
}
section {
    height: 100vh;
}
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}
.cabecalho-logo{
    height: 100%;
}
.cabecalho-menu{
    display: flex;
    gap: 72px;

}
.menu-item{
    font-family: 'Inter', sans-serif;
    color: #FFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.corpo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.texto-do-corpo{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.titulo-texto{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 160%;
    /* or 80px */
    color: #FFFFFF;
}
.paragrafo-texto{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    /* or 32px */
    color: #FFFFFF;
}
.botoes{
    flex-direction: row;
}
.botao-da-nav{
    width: 104px;
    height: 39px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    border: none;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #116CFF;
}
.botao1{
    background-color: #FFFFFF;
    width: 200px;
    height: 52px;
    border: none;
    border-radius: 10px;
    margin-right: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #116CFF;
}
.botao2{
    background-color: #116CFF;
    width: 200px;
    height: 52px;
    left: 324px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #FFFFFF;
}
.tela02{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.titulo-tela02{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    /* or 125% */
    color: #00235C;
}
.paragrafo-texto02{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    /* or 250% */
    color: #00235C;
}
.tela03{
    background-color: #116CFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.titulo-tela03{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    /* or 125% */
    color: #FFFFFF;
}
.paragrafo-texto03{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    /* or 250% */
    color: #FFFFFF;
}
.tela04{
    background-color: #FFFFFF;
    display: flex;

}
.titulo-tela04{
    align-items: flex-start;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    /* identical to box height, or 139% */
    color: #116CFF;
}
.baloes{
    align-items: center;

}
.balao1{
    flex-direction: row;
}
.balao1b{
    background: #E7F0FF;
    border-radius: 20px;
    width: 440px;
    height: 187px;


}
.pessoa1{

}

.tela05{
    background-color: #116CFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo-tela05{
    margin: 80px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    /* identical to box height, or 139% */
    color: #FFFFFF;
}
table{
    width: 1266px;
    height: 474px;
}
.coluna1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */

    text-align: center;

    color: #00235C;
}
.coluna02{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    /* identical to box height, or 156% */


    color: #00235C;
}
thead{
    background-color: #E7F0FF;
    width: 1166px;
    height: 115px;
    border-radius: 10px 10px 0px 0px;
}
.estrela1{
    flex-direction: row;
}
tbody{
    background-color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */


    color: #116CFF;
}
.td4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */

    text-align: right;

    color: #00235C;
}
.free{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */

    text-align: right;

    color: #FF463A;
}
@media screen and (max-width: 1200px){
    .cabecalho-logo{
        width: 100px;
    }
    .cabecalho-menu{
        flex-direction: column;
        height: 100%;
        gap: 10px;
    }
    section {
        flex-direction: column;
        height: 100%;
    }

    img {
        width: 500px;
    }
    .texto-do-corpo{
        width: 498px;
        text-align: center;
    }
    .texto-do-corpo h1{
        width: 483px;
        height: 180px;
        margin-top: 0px;
    }
    .texto-do-corpo p{
        width: 483px;
        height: 218px;
        margin-top: 20px;
    }
    .corpo-principal{
        flex-direction: column-reverse;
    }
    .tela02{
        flex-direction: column;
    }
    .tela03{
        flex-direction: column-reverse;
    }
    table{
        width: 66px;
        height: 74px;
    }
}